.card{
    padding: 10px;
    display: inline-block;
    width: 200px; /* Ajusta este ancho al tamaño que desees */
    margin-right: 10px; /* Agrega un margen derecho para separar los elementos */
    vertical-align: top; /* Alinea los elementos en la parte superior */
   border:7px solid black;
}
