@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
.details-conteiner{
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .conteiner-img{
    display: flex;
    background-image: linear-gradient(to right, #9597f89e, #b5b6ffa2, #9597f8a2);
    flex-direction: column;
    margin: 15px; 
   
    /* background-color: rgb(69, 134, 144); */

.conteiner-img img{
    border: 10px solid #9597f89e;
   border-radius: 5px;
    width: 35vw;
    height: 35vh;
}

.conteiner-info{
   display: flex;
   width: 20vw;
   height: 35vh;
   border-radius: 10px;
   flex-direction: column;
   
   background-image: linear-gradient(to right, #9597f89e, #b5b6ffa2, #9597f8a2);

}
.conteiner-info h3{
    color:white ;
}

   

