body{
    
    background-image: url('../../img/mundi.jpg');
    background-size: cover;
    /* background-repeat: no-repeat;
    background-position: center center */
    background-position: center top;
}
.inicio{
   color: aliceblue;
}