@font-face {
    font-family: 'MiFuente';
    src: url("../../fonts/Visage\ Bold\ Demolished.woff2") format('woff2');
  }

h1{
    font-family: 'MiFuente', sans-serif;
    font-weight: 300;
    font-size: 55px;
    color:white
}
.icon-recargar{
  background-image: linear-gradient(to right,#af3ed0, #da3c83);
  border: none;
  border-radius: 100%;
  color:white;
  padding: 1%; 
  text-align: center;
  display: inline-block; 
  font-size: 20px; 
  margin: 2px 2px;
  transition: background-color 0.3s ease; 
  font-size: 25px;
}
.icon-recargar:hover{
  background-image: linear-gradient(to right,#3d1947, #642340);
}
.boton{
  background-image: linear-gradient(to right,#af3ed0, #da3c83);
  border: none;
  border-radius: 10px;
  color:white;
  padding: 15px 32px; 
  text-align: center;
  display: inline-block; 
  font-size: 20px; 
  margin: 4px 2px;
  transition: background-color 0.3s ease; 
}
.boton:hover{
  background-image: linear-gradient(to right,#3d1947, #642340);
}
.select-conteiner{
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
  
  
}
select {
  margin:5px;
  border-radius: 10px;
  font-family: Arial, sans-serif; /* Utilizo la fuente Arial o una fuente sans-serif si no está disponible */
  font-size: 16px; /* Tamaño de fuente de 16 píxeles */
  padding: 3px; /* Añade un espacio de 10 píxeles dentro del borde del elemento */
  border: none; /* Establece un borde de 2 píxeles de ancho con un color azul oscuro */
  background-color: #af3ed0; /* Establece un color de fondo gris claro */
  color: white; /* Establece el color del texto en azul oscuro */
  
}

/* Estilos para las opciones del elemento select */
select option {
  font-family: Arial, sans-serif; /* Utilizo la fuente Arial o una fuente sans-serif si no está disponible */
  font-size: 16px; /* Tamaño de fuente de 16 píxeles */
  background-color: #612872; /* Establece un color de fondo azul oscuro */
  color: #f5f5f5; /* Establece el color del texto en blanco */
}

select:hover {
  background-color: #da3c83; /* Establece un color de fondo azul oscuro */
  color: #f5f5f5; /* Establece el color del texto en blanco */
}

/* Estilos para el elemento select cuando se encuentra enfocado */
select:focus {
  outline: none; /* Elimina el borde que aparece al enfocar el elemento */
  border: 2px solid #bf70ff; /* Establece un borde de 2 píxeles de ancho con un color azul medio */
  box-shadow: 0 0 5px #bf70ff; /* Agrega una sombra al elemento para resaltarlo */
}
select:active{
  transition: background-color 0.3s ease; /* Agrega una transición de 0.3 segundos para el cambio de color de fondo */
  }
