.paginado{
    display: flex;
    border-radius: 10px; /* redondear las esquinas de la tarjeta */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* sombra de la tarjeta */
    padding: 20px; /* espacio interno de la tarjeta */
}
nav{
    display: flex;
    justify-content: center;
}
.number{
    background-color: #af3ed0;  
    color: white; 
    border-radius: 5px;
}
.number:hover{
    background-color: #250230;
}