.paginado{
    display: flex;
    background-color: rgb(202, 165, 247);
    border: 1px solid #cccccc; /* borde de la tarjeta */
    border-radius: 10px; /* redondear las esquinas de la tarjeta */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* sombra de la tarjeta */
    padding: 20px; /* espacio interno de la tarjeta */
}